<html>

	<header>
		<title>My very complex site owned by {{ owner }}</title>
	</header>
	<body>
		<h1>FACEBOOK KILLER</h1>
		<h3>And VK, of course, as well</h3>
		<br><br>
		<h2>Yet another text string just to be SOOO COOL</h2>
		<h3>Server is owned by {{ owner }}</h3>
		<h3>Server hostname: {{ ansible_hostname }}</h3>
		<h3> Server OS Family: {{ ansible_os_family }}</h3>
		Server IP address: {{ ansible_default_ipv4.address }} <br>
	</body>

</html>
